RewriteEngine On

# Bloquear IPs mediante X-Real-IP de Railway
RewriteCond %{HTTP:X-Real-IP} ^163\.116\.226\.122$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP:X-Real-IP} ^201\.244\.241\.250$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP:X-Real-IP} ^190\.26\.21\.180$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP:X-Real-IP} ^155\.190\.20\.7$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP:X-Real-IP} ^191\.95\.162\.182$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP:X-Real-IP} ^190\.144\.83\.14$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP:X-Real-IP} ^181\.63\.26\.199$
RewriteRule ^ - [F,L]

  
